// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#footer {
	color: white;
}

body {
	padding-bottom: 5%;
	padding-top: 5%;
}

#user_remember_me {
	margin-left: 0px;	
}